SEM3PROJECT/Jackman.Tests/Connected Services/JackmanService/SigvardtService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SigvardtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/Jackman/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/Jackman/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8735/Design_Time_Addresses/Jackman/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jackman.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISigvardtService_CaseCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:CaseCreate" />
  </wsdl:message>
  <wsdl:message name="ISigvardtService_CaseCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaseCreateResponse" />
  </wsdl:message>
  <wsdl:message name="ISigvardtService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="ISigvardtService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ISigvardtService_GetSubcategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubcategories" />
  </wsdl:message>
  <wsdl:message name="ISigvardtService_GetSubcategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubcategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISigvardtService">
    <wsdl:operation name="CaseCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISigvardtService/CaseCreate" message="tns:ISigvardtService_CaseCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISigvardtService/CaseCreateResponse" message="tns:ISigvardtService_CaseCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ISigvardtService/GetCategories" message="tns:ISigvardtService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISigvardtService/GetCategoriesResponse" message="tns:ISigvardtService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubcategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ISigvardtService/GetSubcategories" message="tns:ISigvardtService_GetSubcategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISigvardtService/GetSubcategoriesResponse" message="tns:ISigvardtService_GetSubcategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISigvardtService" type="tns:ISigvardtService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CaseCreate">
      <soap:operation soapAction="http://tempuri.org/ISigvardtService/CaseCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/ISigvardtService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubcategories">
      <soap:operation soapAction="http://tempuri.org/ISigvardtService/GetSubcategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SigvardtService">
    <wsdl:port name="BasicHttpBinding_ISigvardtService" binding="tns:BasicHttpBinding_ISigvardtService">
      <soap:address location="http://localhost:8735/Design_Time_Addresses/Jackman/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>